@import "../../../scss/variables";
@import "../../../scss/mixins";
@import "../../../scss/functions";
@import "../../../scss/breakpoints";

#fifth-page {
  background-color: $blue;
  margin: 0 54px 0 54px;
  padding: 120px 0 198px 0;
  @include sm {
    margin: 0;
    padding: 35px 0 69px 0;
  }
  @include md {
    padding: 100px 0;
  }

  .row {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 144px 0 144px;
    gap: 0;
    @include sm {
      grid-template-columns: auto;
      margin: 35px 20px 69px 20px;
      padding: 0;
    }
    @include md {
      grid-template-columns: auto;
      margin: 35px 20px 69px 20px;
      padding: 0;
    }

    .column {
      grid-column: 1/2;
      grid-row: 1;
      @include sm {
        grid-column: revert;
        grid-row: 1;
        margin: 0;
        &:last-of-type {
          grid-row: initial;
        }
      }
      @include md {
        grid-column: revert;
        grid-row: 1;
        margin: 0;
        &:last-of-type {
          grid-row: initial;
        }
      }
      &:last-of-type {
        grid-column: 1 / span 2;
        justify-self: end;
      }

      &__text {
        h2 {
          margin: 0;
        }
        p {
          @include paragraph;
          font-size: 18px;
          line-height: 1.6;
          letter-spacing: -0.63px;
          margin: 21px 0;
        }
        a {
          color: $base-color;
          margin: 0;
          margin-top: 21px;
        }
      }
    }
    .vector {
      justify-content: end;
      justify-items: end;
      margin-top: 69px;
      @include sm {
        margin-top: 56px;
      }
      @include md {
        margin: 0;
      }
    }
  }
}
