@import "../../scss/breakpoints";
@import "../../scss/variables";
button {
  font-family: "NunitoSans";
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 18px;
  background-color: #134ae9;
  border: none;
  font-family: SpaceGrotesk;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.01;
  letter-spacing: -0.64px;
  text-align: left;
  color: #fff;
  cursor: pointer;
  @include sm {
    width: 100%;
    text-align: center;
  }
  @include md {
    padding: 20px;
  }

  @media screen and (min-width: 901px) and (max-width: 1100px) {
    width: max-content;
  }
}

label {
  color: #fff;
}
