@import "../../scss/variables";
@import "../../scss/mixins";
@import "../../scss/functions";
@import "../../scss/breakpoints";

#first-section {
  background-color: $dark-purple;
  color: $base-color;
}

.top-text {
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: $blue;
  padding: 7px 0;
  @media screen and (max-width: 330px) {
    display: block;
    text-align: center;
    font-size: 11px;
  }
  p {
    height: 19px;
    font-size: 12px;
    line-height: 1.55;
    margin: 0;
  }
  a {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.55;
    letter-spacing: -0.42px;
    margin-left: 9px;
    color: white;
  }
}

header {
  margin: 0 30px 192px 30px;
  @include sm {
    margin: 0;
  }
  @include md {
    margin: 0;
  }
}

.row {
  @include twoColumns;
  grid-gap: 4em;
  padding: 0 120px;
  @include sm {
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    gap: 0;
  }
  @include md {
    grid-template-columns: 1fr;
    margin: 0;
    gap: 0;
    padding: 40px;
  }
  @media screen and (min-width: 901px) and (max-width: 1100px) {
    padding: 50px;
  }

  &__column {
    @include sm {
      margin: 0 20px;
    }
    @include md {
      margin: 0 20px;
    }
    h1 {
      font-family: SpaceGrotesk;
      font-size: 68px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.01;
      letter-spacing: -2.72px;
      text-align: left;
      color: $base-color;
      margin: 10px 0 20px 0;
      @include sm {
        font-size: 38px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.01;
        letter-spacing: -1.52px;
        text-align: left;
        width: auto;
        margin-top: 48px;
      }
      @media screen and (min-width: 901px) and (max-width: 1300px) {
        font-size: 45px;
      }
    }
    p {
      @include paragraph;
      color: $base-color;
      margin-bottom: 40px;
      @include sm {
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.55;
        letter-spacing: -0.53px;
        text-align: left;
        margin-bottom: 0;
        margin-top: 20px;
      }
    }

    &__img {
      width: 100%;
      height: auto;
      @include sm {
        margin-top: 54px;
        margin-bottom: 50px;
        &:first-of-type {
          display: none;
        }
      }
      @include md {
        margin-bottom: 100px;
      }
    }

    &__img--responsive {
      display: none;
      @include sm {
        display: block;
        padding: 50px 0;
      }
    }
  }
}
