@import "../../../scss/variables";
@import "../../../scss/mixins";
@import "../../../scss/functions";
@import "../../../scss/breakpoints";

.sixth-page {
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-top: 226px;
    @include sm {
      grid-template-columns: 1fr;
      margin: 0 20px;
      gap: 0;
    }
    @include md {
      grid-template-columns: 1fr;
      margin: 0 20px;
      gap: 0;
    }
    section {
      margin-top: 76px;
      @include sm {
        margin: 0;
      }

      p {
        @include paragraph;
        color: $dark-purple;
        margin: 0;
        font-size: 15px;
        font-weight: bold;
        line-height: 1.6;
        letter-spacing: -0.53px;
        &:first-of-type {
          font-weight: normal;
        }
        &:nth-of-type(2) {
          font-size: 16px;
        }
      }

      h4 {
        font-family: "SpaceGrotesk";
        margin: 0;
        margin-bottom: 52px;
        font-size: 24px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: -0.72px;
        text-align: left;
        margin-top: 31px;
        @include sm {
          margin-bottom: 45px;
        }
      }
    }
    .underline {
      margin-bottom: 150px;
      @include sm {
        margin-bottom: 45px;
      }
    }
    .hero {
      margin-bottom: 150px;
      @include sm {
        margin: 40px 0;
      }
      @include md {
        margin: 100px 0;
      }
    }
    .rectangles {
      margin-bottom: 121px;
      margin-top: 150px;
    }
  }
}
