.list {
  list-style: none;
  width: 100%;
  display: none;
  transition: 0.3s ease-in-out;

  ul {
    list-style: none;
    padding: 0;
  }
}
.open {
  transform: translateY(0);
  display: block;
}
