@import "../scss/breakpoints";
@import "../scss/mixins";
@import "../scss/variables";
.navbar {
  @include flex_links;
  font-size: 16px;
  margin: 10px 0;
  max-width: 100%;
  @include sm {
    margin: 28px 20px 0 20px;
  }
  @include md {
    margin: 28px 20px 50px 10px;
  }
  &__right,
  &__left {
    display: flex;

    &__links {
      @include sm {
        padding-left: 0;
      }
      li {
        @include sm {
          display: none;
          &:first-of-type {
            display: block;
            padding: 0;
          }
        }
        @include md {
          display: none;
          &:first-of-type {
            display: block;
            padding: 0;
          }
        }
        &:first-of-type {
          margin-right: 20px;
        }
      }
    }
  }
  &__right {
    justify-content: flex-start;
    &__links {
      @include flex_list;
      padding: 0 24px;
      @include sm {
        display: none;
      }
      @include md {
        display: none;
      }
      button {
        width: 160px;
        height: 47.9px;
        padding: 16px 11.2px 15.9px 11.4px;
        font-weight: 600;
        text-align: center;
      }
    }
  }
  &__left {
    justify-content: flex-end;
    &__links {
      @include flex_list;
      padding: 0 24px;
      @include sm {
        padding-left: 0;
      }
      li {
        margin-right: 36px;
        &:first-of-type {
          margin-right: 44px;
        }
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .mobile-menu {
    display: none;
    @include sm {
      display: flex;
      justify-content: center;
    }
    @include md {
      display: flex;
      justify-content: center;
    }
  }
  .menu-icon {
    @include sm {
      margin: 0;
      width: 100%;
      height: auto;
      max-width: 21px;
    }
    @include md {
      margin: 0;
      width: 100%;
      height: auto;
      max-width: 21px;
    }
  }
}

li {
  padding: 10px;
}
