@import "../../../scss/breakpoints";
.burger {
  display: none;
  @include sm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    background: transparent;
    border: none;
    width: 1.5rem;
    height: 1rem;
    right: 0;
    z-index: 200;
    position: absolute;
  }
  @include md {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    background: transparent;
    border: none;
    width: 4rem;
    height: 1rem;
    right: 0;
    z-index: 200;
    position: absolute;
  }
  div {
    width: 1.5rem;
    height: 0.5rem;

    transition: all 0.3s linear;
    background-color: #fff;
    margin: 2px 0;
    position: relative;
    @include md {
      width: 70px;
      height: 35px;
      width: 2rem;
      height: 1.5rem;
    }
  }
}

.line1.open {
  transform: rotate(45deg);
  top: 5px;
}
.line2.open {
  opacity: 0;
  transform: translateX(40px);
}
.line3.open {
  transform: rotate(-45deg);
  bottom: 5px;
}
