@import "../scss/breakpoints";
input {
  margin: 0;
  padding: 15px 15px 15px 19px;
  background-color: #fff;
  border: none;
  @include md {
    padding: 20px;
  }
  input::placeholder {
    font-family: SpaceGrotesk;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.01;
    letter-spacing: -0.64px;
    text-align: left;
    color: #1b263a;
  }
}
