@import "../../../scss/variables";
@import "../../../scss/mixins";
@import "../../../scss/functions";
@import "../../../scss/breakpoints";

.second-page {
  margin-top: 141px;
  @include sm {
    margin: 0;
    margin-top: 66px;
  }
  h3 {
    font-family: SpaceGrotesk;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: -0.9px;
    text-align: center;
    color: #1b263a;
    margin: 0 274px;
    @include sm {
      margin: 0 45px;
      font-size: 24px;
    }
    @include md {
      margin: 0 20px 100px 0;
    }
  }
  .container__logo {
    margin: 80px 199px 0 199px;
    @include sm {
      margin: 80px 0;
    }
    @include md {
      margin: 0;
    }
    ul {
      display: flex;
      padding: 0;
      margin: 0;
      height: 37px;
      @include sm {
        justify-content: center;
      }
      @include md {
        justify-content: center;
      }
      li {
        list-style-type: none;
        padding: 0;
        margin-right: 67px;
        @include sm {
          margin: 0;
          padding: 0;
          display: none;
          &:first-of-type {
            display: block;
            margin-left: 20px;
          }
          &:nth-of-type(3) {
            display: block;
            margin-left: 67px;
          }
        }
        @include md {
          margin: 0;
          padding: 0;
          display: none;
          &:first-of-type {
            display: block;
            margin-left: 20px;
          }
          &:nth-of-type(3) {
            display: block;
            margin-left: 67px;
          }
        }
        @include md {
          &:nth-of-type(5) {
            display: block;
            margin-left: 67px;
          }
        }
      }
      :last-of-type {
        margin-right: 0;
      }
    }
  }
  section {
    @include sm {
      margin: 0 20px;
    }
    @include md {
      margin: 0 20px;
    }
  }
  .container__text {
    color: #1b263a;
    h2 {
      margin: 152px 0 0 120px;
      @include sm {
        margin: 0;
        margin-top: 82px;
      }
      @include md {
        margin: 175px 0 20px 0;
      }
    }
    p {
      margin: 20px 588px 20px 120px;
      @include paragraph;
      @include sm {
        margin: 20px 0;
        font-size: 15px;
      }
      @include md {
        margin: 20px 0;
      }
    }
    a {
      color: #1b263a;
      @include sm {
        margin: 0;
      }
    }
  }
  img {
    margin-top: 20px;
    margin-left: 285px;
    margin-right: 152px;
    width: 100%;
    height: auto;
    max-width: 1003px;
    height: 478px;
    @include sm {
      display: none;
    }
    @include md {
      width: 100%;
      height: auto;
      max-width: none;
      margin: 0;
    }
  }
  .resp-img {
    display: none;
    @include sm {
      display: block;
      margin: 0;
      margin-top: 60px;
      width: 100%;
      height: auto;
      max-width: none;
    }
  }
}
