@import "../src/scss/variables";
@import "../src/scss/mixins";
@import "../src/scss/functions";
@import "../src//scss/breakpoints";
@font-face {
  font-family: "NunitoSans";
  src: url("../src/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf");
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../src/assets/fonts/NunitoSans-Regular.ttf");
}

body {
  margin: 0;
  font-family: "NunitoSans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  overflow-x: hidden;
  overflow: hidden;
}

li {
  cursor: pointer;
  list-style-type: none;
  padding: 0;
}

img,
svg {
  width: 100%;
  height: auto;
}

#second-section,
#third-section,
#fourth-section,
#fifth-section,
#sixth-section,
#last-section {
  @include sm {
    padding: 20px;
  }
  @include md {
    padding: 40px;
  }
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "SpaceGrotesk";
  @include sm {
    font-size: 30px;
  }
}
