$screen-sm-max: 480px;
$screen-md-max: 900px;
$screen-md-min: 481px;
$screen-lg-min: 901px;

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min})and(max-width:#{$screen-md-max}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}
