//  Smartphones
$screen-sm-max: 480px;

// Tablets
$screen-md-max: 900px;
$screen-md-min: 481px;
// Large tablets and desktops
$screen-lg-min: 821px;

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min})and(max-width:#{$screen-md-max}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}
