@import "../scss/breakpoints";
@mixin flex_links {
  display: flex;
  justify-content: space-between;
  position: relative;
  // width: 100%;
}

@mixin flex_list {
  display: flex;
  // justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

@mixin twoColumns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
@mixin paragraph {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.55;
  letter-spacing: -0.7px;
  text-align: left;
}
@mixin heading {
  font-size: 46px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.01;
  letter-spacing: -1.84px;
  @include sm {
    font-size: 30px;
  }
}
@mixin underline {
  margin-top: 80px;
  font-family: SpaceGrotesk;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.01;
  letter-spacing: -0.64px;
  color: $dark-purple;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: blue;
  text-underline-position: under;
  cursor: pointer;
}
